In [37]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [38]:
import pandas as pd 
l = [4,8,15,16,23,42]
series=pd.Series(l)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [39]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
#variable print it.

In [40]:
import pandas as pd 
list_variable = [1,2,4,6,8,6,3,5,7,9,10]
df = pd.Series(list_variable)
print(df)

0      1
1      2
2      4
3      6
4      8
5      6
6      3
7      5
8      7
9      9
10    10
dtype: int64

In [27]:
#Q3. Create a Pandas DataFrame that contains the following data:

#Then, print the DataFrame.

In [28]:
import pandas as pd 
dict = {"name" : ["Alice" ,"Bob" , "Claire"],
       "age" : [25,30,27],
       "gender" :["female" ,"male" ,"female"]}
df = pd.Series(dict)
print(df)

name        [Alice, Bob, Claire]
age                 [25, 30, 27]
gender    [female, male, female]
dtype: object

In [29]:
#Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [30]:
#DataFrame is a 2-dimensional labeled data structure with columns of potentially different types. it is different from the pandas.series Series is a one-dimensional object that can hold any data type such as integers, floats and strings e.g
# series
s=pd.Series([1,2,3,455,6,5])
print(s)
# dataframe
import pandas as pd 
dict = {"name" : ["Alice" ,"Bob" , "Claire"],
       "age" : [25,30,27],
       "gender" :["female" ,"male" ,"female"]}
df = pd.Series(dict)
print(df)

0      1
1      2
2      3
3    455
4      6
5      5
dtype: int64
name        [Alice, Bob, Claire]
age                 [25, 30, 27]
gender    [female, male, female]
dtype: object

In [31]:
#Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
#you give an example of when you might use one of these functions?

In [32]:
#1. drop : it is used to remove row or column from a DataFrame 
#2. merge : it is used to combine mutliple Data Frame based on or more columns 
#example :
import pandas as pd
s=pd.Series([1,2,3,455,6,5])
s1=pd.Series([1,5,6,4,36,5])
s2=pd.Series([8,9,7,5,647,5])
df =pd.DataFrame({"a":s,"b":s1,"c":s2})
print(df)

     a   b    c
0    1   1    8
1    2   5    9
2    3   6    7
3  455   4    5
4    6  36  647
5    5   5    5

In [33]:
#Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [34]:
#Both DataFrame and series are mutable in nature

In [35]:
#Q7. Create a DataFrame using multiple Series. Explain with an example.

In [36]:
import pandas as pd
s=pd.Series([1,2,3,455,6,5])
s1=pd.Series([1,5,6,4,36,5])
s2=pd.Series([8,9,7,5,647,5])
df =pd.DataFrame({"a":s,"b":s1,"c":s2})
df

     a   b    c
0    1   1    8
1    2   5    9
2    3   6    7
3  455   4    5
4    6  36  647
5    5   5    5